<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>openRegion</display-name>

	<servlet>
		<servlet-name>fetchProvinces</servlet-name>
		<servlet-class>com.fuxiaosong.openregion.controller.FetchProvincesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>fetchProvinces</servlet-name>
		<url-pattern>/fetchProvinces</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>fetchCities</servlet-name>
		<servlet-class>com.fuxiaosong.openregion.controller.FetchCitiesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>fetchCities</servlet-name>
		<url-pattern>/fetchCities</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>fetchCountries</servlet-name>
		<servlet-class>com.fuxiaosong.openregion.controller.FetchProvincesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>fetchCountries</servlet-name>
		<url-pattern>/fetchCountries</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>